@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #111113;
  color: #ffffff;
  font-family: 'Iosevka Charon', monospace;
  font-weight: 300;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body:before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.025;
  background-image: radial-gradient(#fff 0.6px, transparent 0.6px);
  background-size: 5px 5px;
}

.navbar {
  width: calc(100% - 40px);
  max-width: 1360px;
  height: 60px;
  margin: 22px auto 0;
  padding: 0 18px;
  border: 1px solid #8C0B1A;
  border-radius: 30px;
  background: rgba(106, 2, 11, 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: blur(50%);
}

.navbar>img {
  margin-left: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

ul {
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

ul a {
  position: relative;
  color: #dedede;
  text-decoration: none;
  font: 400 16px "Barlow Condensed";
  letter-spacing: 0.04em;
}

nav a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: 0.2s;
}

nav a:hover:after,
nav a.active:after {
  transform: scaleX(1);
}

main {
  width: calc(100% - 70px);
  max-width: 1320px;
  margin: 35px auto 25px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 410px;
  gap: 60px;
  align-items: center;
  min-height: 235px;
  padding: 25px 55px;
}

.title {
  display: flex;
  align-items: center;
  gap: 25px;
}

.estrela {
  position: relative;
  width: 85px;
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.estrela img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Barrinha */
.estrela::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: #8C0B1A;
}

.logo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: 0.2s;
}


.title h1 {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}


.title p {
  color: #76787E;
  letter-spacing: 0.06em;
}

.description {
  max-width: 870px;
  margin: 0px 0 0 110px;
  color: #dedede;
  font-size: 13px;
  line-height: 1.55;
}


.languages {
  padding: 20px 20px;
  min-height: 125px;
  border: 1px solid #76000C;
  border-radius: 8px;
  background: #230E11;
  transition: 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
}

.languages:hover {
  border-color: #8C0B1A;
  box-shadow: 0 0 10px rgba(140, 11, 26, 0.7);
  background: linear-gradient(145deg, #211012, #76000C);
}

.languages h2 {
  margin-bottom: 18px;
  font-size: 1.5rem;
  font-weight: 500;
}

.language {
  margin: 9px 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.language strong {
  font-size: 16px;
}

.language span {
  color: #76787E;
  font-size: 9px;
  margin-top: 2px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  padding: 5px 55px;
}

.info-card {
  border: 1px solid #8C0B1A;
  border-radius: 7px;
  background: #230E11;
  transition: 0.25s;
}

.info-card:hover {
  border-color: #8C0B1A;
  box-shadow: 0 0 10px rgba(140, 11, 26, 0.7);
  background: linear-gradient(145deg, #211012, #76000C);
}

.formation,
.courses {
  min-height: 325px;
  padding: 23px 28px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 18px;
}

.card-icon {
  width: 56px;
  height: 56px;
  border: 1px solid #8C0B1A;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #111113;
  font-size: 25px;
  box-shadow: 0 0 14px rgba(227, 41, 46, 0.15);
}

.card-icon img {
  height: 36px;
  width: 36px;
  justify-content: center;
}

.card-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 2.5px;
}

.red-line {
  width: 40px;
  height: 2px;
  margin-top: 8px;
  background: #8C0B1A;
}

.formation h3 {
  margin: 18px 0 15px 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.status {
  color: #aaa;
  font-size: 12px;
  margin: 0px 0 1px 10px;
}

.details {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  color: #aaa;
  font-size: 11px;
  align-items: center;

}

.details img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  object-fit: contain;
  align-items: center;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 18px 0;
  background: #ffffff;
}

.card-description {
  color: #b9b9b9;
  font-size: 12px;
  line-height: 1.55;
}

.course {
  min-height: 52px;
  margin: 8px 0;
  padding: 8px 10px;
  border: 1px solid #4c1519;
  border-radius: 9px;
  display: grid;
  grid-template-columns: 42px 1fr 20px;
  align-items: center;
  gap: 12px;
  background: #230E11;
  transition: 0.2s;
}

.course:hover {
  border-color: #8C0B1A;
  box-shadow: 0 0 10px rgba(140, 11, 26, 0.7);
  background: #1a090b;
  scale: 1.02;
}


.course-icon {
  width: 34px;
  height: 34px;
  border: 1px solid #54171b;
  border-radius: 7px;
  display: grid;
  place-items: center;
  coloR: #dedede;
  font-size: 14px;
}

.course h3 {
  font-size: 13px;
  font-weight: 500; 
  letter-spacing: 0.03em;
}

.course p {
  margin-top: 3px;
  color: #aaa;
  font-size: 10px;
}

.course b {
  color: white;
  font-size: 25px;
  font-weight: 300;
}

footer {
  width: 100%;
  min-height: 80px;
  padding: 0 40px;
  border-top: 1px solid #8C0B1A;
  background: #1a090b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Texto centralizado */
footer>p {
  color: #ffffff;
  font-family: 'Iosevka Charon', monospace;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* Ícones no canto direito */
.icones-footer {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 15px;

}

.icones-footer i {
  width: 45px;
  height: 45px;
  border: 1px solid #8C0B1A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;

}

.icones-footer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.icones-footer i:hover {
  transform: translateY(-3px);
  filter: drop-shadow(0 0 8px rgba(140, 11, 26, 0.7));
  background: #8C0B1A;
}

@media (max-width: 900px) {
  .intro {
    grid-template-columns: 1fr;
    padding: 25px;
  }

  .description {
    margin-left: 0;
  }

  .cards {
    grid-template-columns: 1fr;
    padding: 5px 25px;
    gap: 25px;
  }
}

@media (max-width: 650px) {
  .navbar {
    height: auto;
    min-height: 60px;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  main {
    width: calc(100% - 25px);
  }

  .intro {
    padding: 15px;
  }

  .title h1 {
    font-size: 32px;
  }

  .cards {
    padding: 5px 0;
  }

  .details {
    flex-wrap: wrap;
  }

  footer {
    padding: 15px;
    gap: 15px;
    flex-direction: column;
  }

  .social {
    position: static;
  }
}